.card{
  width: 20rem; 
  display: flex; 
  flex-direction: column;
  margin: 20px;
}

.card:hover{
  transform: translateY(-4px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.position-relative img{
  height: 200px; 
  object-fit:contain;
}
